<?xml version="1.0"?>
<model>
  <name>SkyScrub E610 Hexacopter</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>SkyScrub Team</name>
  </author>
  <description>
    SkyScrub E610-class six-motor facade-cleaning drone.
    Version 0.1 validates frame geometry and PX4 six-motor flight.
  </description>
</model>
